@mixin border($color: #666) {
    border-bottom: 1px solid $color;
}

#header {
    @include border(#999);

    #gnav {
        overflow: hidden;
        @include border;
    }
}

h1 {
    font-size: 3rem;
}
.h1 {
    @extend h1;
}

// セレクタにしたくないときはプレースホルダを使う
%box {
    margin-top: 15px;
    padding: 10px;
    background-color: #ccc;
}

.contenteBox {
    @extend %box;
    p {
        line-height: 1.3;
    }
}

.noteBox {
    @extend %box;
}
