@import "reset";
@import "style2";

header {
    border-bottom: 3px solid #efefef;

    @media screen and (min-width: 62.5em) {
        border-bottom: none;
    }
}

h1 {
    font-size: 3rem;
}
.h1 {
    @extend h1;
}

$base-font-size: 16px;
$grey-color: grey;
$base-color: rgba(210, 210, 210, 0.5);
$dir: "../assets/";
$img: $dir + "image.png";
$second-font-size: $base-font-size - $base-font-size / 4;
$grey-color: red !default;

:root {
    --main-font-size: 12px;
    --sub-font-size: 10px;
}

body {
    color: $base-color;
    font-size: $base-font-size;
    p {
        font-size: $second-font-size;
    }
    .sub {
        font-size: calc(#{$base-font-size} - var(--main-font-size));
    }
}

.img {
    background-image: url(#{$img});
}

header {
    background-color: $grey-color;
    width: 100%;
    height: $headerHeight;
    .title {
        font-size: 3em;
    }
    &.dark-theme {
        background-color: black;
    }
}

.flex-row {
    display: flex;
    align-content: stretch;
    height: calc(100vh - #{$headerHeight * 2});
    div {
        flex: 3 0 0;
        background-color: lighten(red, 35%);
        &:first-child {
            flex: 1 0 0;
            background-color: lighten(red, 20%);
        }
        &:last-child {
            flex: 1 0 0;
            background-color: lighten(red, 40%);
        }
        &.content {
            article {
                display: block;
                width: 80%;
                margin: 5px auto;
                height: 50px;
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        background-color: lighten(rgba(0, 0, 0, 0.8), $i * 20%);
                        color: darken(rgba(255, 255, 255, 0.9), $i * 20%);
                    }
                }
            }
        }
    }
}

footer {
    @extend header;
    background-color: blue;
    position: fixed;
    bottom: 0;
}

a:last-child {
    font-size: 12px;
}
